h1,
p {
  font-family: Lato;
}
.bg-cover {
  background-size: cover !important;
}
.bg-cemter {
  background-position: center !important;
}
.right {
  right: 0;
}
.left {
  left: 0;
}

@media only screen and max-width(768px) {
  .col-3 {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }
}
